@media (min-width: 600px) {
    /* estilos para pantallas con un ancho mínimo de 600px */
}

@media (max-width: 600px) {
    /* estilos para pantallas con un ancho máximo de 600px */

    .imagenes_skate {
        display: block;
    }

    .container_apparel {
        display: block;
    }
}

@media (max-width: 320px) {

    /* estilos para pantallas con un ancho máximo de 600px */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        justify-items: auto;

    }

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item-image {
        width: 600px;
        height: auto;
        object-fit: cover;
    }

    .item-text {
        margin-top: 20px;
        text-align: center;
    }


}




@media (min-width: 600px) and (max-width: 800px) {
    /* estilos para pantallas con un ancho entre 600px y 800px */
}